In [13]:
from datetime import datetime, timedelta
from airflow import DAG
from airflow.operators.python import PythonOperator
import pandas as pd
import numpy as np
import requests
import pyodbc
from pandas import json_normalize
import time
import pooling 

# Định nghĩa các hàm

In [14]:
def deleteBCTC_fireant():
    
    conn_str = ("Driver={ODBC Driver 17 for SQL Server};"
                "Server=192.168.17.22,1433;"
                "Database=financialReport;"
                "UID=admin2;"
                "PWD=123beta456;"
                "charset=UTF8")
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
 
    cursor.execute('''delete [zAtisss].[dbo].[BCTC_fireant]''')
    conn.commit()
    cursor.close()
    conn.close()

def getBCTC_quy(ticker):
    dfall_list = []
    
    #for z in range(1,5):
    for z in range(1,5):
        try:
            ### quý
            url = f'https://restv2.fireant.vn/symbols/{ticker}/full-financial-reports?type={z}&year=2023&quarter=5&limit=43'
            headers = {
                "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkdYdExONzViZlZQakdvNERWdjV4QkRITHpnSSIsImtpZCI6IkdYdExONzViZlZQakdvNERWdjV4QkRITHpnSSJ9.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmZpcmVhbnQudm4iLCJhdWQiOiJodHRwczovL2FjY291bnRzLmZpcmVhbnQudm4vcmVzb3VyY2VzIiwiZXhwIjoxODg5NjIyNTMwLCJuYmYiOjE1ODk2MjI1MzAsImNsaWVudF9pZCI6ImZpcmVhbnQudHJhZGVzdGF0aW9uIiwic2NvcGUiOlsiYWNhZGVteS1yZWFkIiwiYWNhZGVteS13cml0ZSIsImFjY291bnRzLXJlYWQiLCJhY2NvdW50cy13cml0ZSIsImJsb2ctcmVhZCIsImNvbXBhbmllcy1yZWFkIiwiZmluYW5jZS1yZWFkIiwiaW5kaXZpZHVhbHMtcmVhZCIsImludmVzdG9wZWRpYS1yZWFkIiwib3JkZXJzLXJlYWQiLCJvcmRlcnMtd3JpdGUiLCJwb3N0cy1yZWFkIiwicG9zdHMtd3JpdGUiLCJzZWFyY2giLCJzeW1ib2xzLXJlYWQiLCJ1c2VyLWRhdGEtcmVhZCIsInVzZXItZGF0YS13cml0ZSIsInVzZXJzLXJlYWQiXSwianRpIjoiMjYxYTZhYWQ2MTQ5Njk1ZmJiYzcwODM5MjM0Njc1NWQifQ.dA5-HVzWv-BRfEiAd24uNBiBxASO-PAyWeWESovZm_hj4aXMAZA1-bWNZeXt88dqogo18AwpDQ-h6gefLPdZSFrG5umC1dVWaeYvUnGm62g4XS29fj6p01dhKNNqrsu5KrhnhdnKYVv9VdmbmqDfWR8wDgglk5cJFqalzq6dJWJInFQEPmUs9BW_Zs8tQDn-i5r4tYq2U8vCdqptXoM7YgPllXaPVDeccC9QNu2Xlp9WUvoROzoQXg25lFub1IYkTrM66gJ6t9fJRZToewCt495WNEOQFa_rwLCZ1QwzvL0iYkONHS_jZ0BOhBCdW9dWSawD6iF1SIQaFROvMDH1rg",
                "Accept": "application/json"
            }

            response = requests.get(url, headers=headers)
            data = response.json()
            time.sleep(3)
            periods = set()
            for obj in data:
                values = obj.get('values', [])
                for value in values:
                    period = value.get('period')
                    periods.add(period)
            num_periods = len(periods)
            #print("Số lượng period là:", num_periods)

            df = pd.DataFrame(data)

            df_list = []
            for i in range(0, num_periods):
                df_new = pd.DataFrame()
                df_new['id'] = df['id']
                df_new['name'] = df['name']
                df_new['parentID'] = df['parentID']
                df_new['expanded'] = df['expanded']
                df_new['level'] = df['level']
                df_new['field'] = df['field']
                df_new['period'] = df['values'].apply(lambda x: x[i]['period'])
                df_new['year'] = df['values'].apply(lambda x: x[i]['year'])
                df_new['quarter'] = df['values'].apply(lambda x: x[i]['quarter'])
                df_new['value'] = df['values'].apply(lambda x: x[i]['value'])

                df_list.append(df_new)

            df_combined = pd.concat(df_list, ignore_index=True)
            if z == 1:
                df_combined['type'] = 'CDKT' 
                #print(ticker+' CDKT '+str(num_periods))
            elif z == 2:
                df_combined['type'] = 'KQKD' 
                #print(ticker+' KQKD '+str(num_periods))
            elif z == 3:
                df_combined['type'] = 'LCTT'
                #print(ticker+' LCTT '+str(num_periods))
            elif z == 4:
                df_combined['type'] = 'LCGT'
                #print(ticker+' LCGT '+str(num_periods))

            dfall_list.append(df_combined)
        except:
            pass
    dfall_combined = pd.concat(dfall_list, ignore_index=True)
    
    dfall_combined['ticker']=ticker
    
    dfall_combined['idBCTC'] = dfall_combined['ticker'].astype(str) + dfall_combined['type'].astype(str) + dfall_combined['year'].astype(str) + dfall_combined['quarter'].astype(str) + dfall_combined['id'].astype(str)
    time.sleep(3)
    
    dfall_combined = dfall_combined.rename(columns={'ticker': 'code'})
    
    dfall_combined['yearQuarter'] = dfall_combined['year'].astype(str)+dfall_combined['quarter'].astype(str)
    
    return dfall_combined

def getBCTC_nam(ticker):
    dfall_list = []
    
    #for z in range(1,5):
    for z in range(1,5):
        try:
            ### quý
            url = f'https://restv2.fireant.vn/symbols/{ticker}/full-financial-reports?type={z}&year=2023&quarter=0&limit=10'
            headers = {
                "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkdYdExONzViZlZQakdvNERWdjV4QkRITHpnSSIsImtpZCI6IkdYdExONzViZlZQakdvNERWdjV4QkRITHpnSSJ9.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmZpcmVhbnQudm4iLCJhdWQiOiJodHRwczovL2FjY291bnRzLmZpcmVhbnQudm4vcmVzb3VyY2VzIiwiZXhwIjoxODg5NjIyNTMwLCJuYmYiOjE1ODk2MjI1MzAsImNsaWVudF9pZCI6ImZpcmVhbnQudHJhZGVzdGF0aW9uIiwic2NvcGUiOlsiYWNhZGVteS1yZWFkIiwiYWNhZGVteS13cml0ZSIsImFjY291bnRzLXJlYWQiLCJhY2NvdW50cy13cml0ZSIsImJsb2ctcmVhZCIsImNvbXBhbmllcy1yZWFkIiwiZmluYW5jZS1yZWFkIiwiaW5kaXZpZHVhbHMtcmVhZCIsImludmVzdG9wZWRpYS1yZWFkIiwib3JkZXJzLXJlYWQiLCJvcmRlcnMtd3JpdGUiLCJwb3N0cy1yZWFkIiwicG9zdHMtd3JpdGUiLCJzZWFyY2giLCJzeW1ib2xzLXJlYWQiLCJ1c2VyLWRhdGEtcmVhZCIsInVzZXItZGF0YS13cml0ZSIsInVzZXJzLXJlYWQiXSwianRpIjoiMjYxYTZhYWQ2MTQ5Njk1ZmJiYzcwODM5MjM0Njc1NWQifQ.dA5-HVzWv-BRfEiAd24uNBiBxASO-PAyWeWESovZm_hj4aXMAZA1-bWNZeXt88dqogo18AwpDQ-h6gefLPdZSFrG5umC1dVWaeYvUnGm62g4XS29fj6p01dhKNNqrsu5KrhnhdnKYVv9VdmbmqDfWR8wDgglk5cJFqalzq6dJWJInFQEPmUs9BW_Zs8tQDn-i5r4tYq2U8vCdqptXoM7YgPllXaPVDeccC9QNu2Xlp9WUvoROzoQXg25lFub1IYkTrM66gJ6t9fJRZToewCt495WNEOQFa_rwLCZ1QwzvL0iYkONHS_jZ0BOhBCdW9dWSawD6iF1SIQaFROvMDH1rg",
                "Accept": "application/json"
            }

            response = requests.get(url, headers=headers)
            data = response.json()
            time.sleep(3)
            periods = set()
            for obj in data:
                values = obj.get('values', [])
                for value in values:
                    period = value.get('period')
                    periods.add(period)
            num_periods = len(periods)
            #print("Số lượng period là:", num_periods)

            df = pd.DataFrame(data)

            df_list = []
            for i in range(0, num_periods):
                df_new = pd.DataFrame()
                df_new['id'] = df['id']
                df_new['name'] = df['name']
                df_new['parentID'] = df['parentID']
                df_new['expanded'] = df['expanded']
                df_new['level'] = df['level']
                df_new['field'] = df['field']
                df_new['period'] = df['values'].apply(lambda x: x[i]['period'])
                df_new['year'] = df['values'].apply(lambda x: x[i]['year'])
                df_new['quarter'] = df['values'].apply(lambda x: x[i]['quarter'])
                df_new['value'] = df['values'].apply(lambda x: x[i]['value'])

                df_list.append(df_new)

            df_combined = pd.concat(df_list, ignore_index=True)
            if z == 1:
                df_combined['type'] = 'CDKT' 
                #print(ticker+' CDKT '+str(num_periods))
            elif z == 2:
                df_combined['type'] = 'KQKD' 
                #print(ticker+' KQKD '+str(num_periods))
            elif z == 3:
                df_combined['type'] = 'LCTT'
                #print(ticker+' LCTT '+str(num_periods))
            elif z == 4:
                df_combined['type'] = 'LCGT'
                #print(ticker+' LCGT '+str(num_periods))

            dfall_list.append(df_combined)
        except:
            pass
    dfall_combined = pd.concat(dfall_list, ignore_index=True)
    
    dfall_combined['ticker']=ticker
    
    dfall_combined['idBCTC'] = dfall_combined['ticker'].astype(str) + dfall_combined['type'].astype(str) + dfall_combined['year'].astype(str) + dfall_combined['quarter'].astype(str) + dfall_combined['id'].astype(str)
    time.sleep(3)
    
    dfall_combined = dfall_combined.rename(columns={'ticker': 'code'})
    
    dfall_combined['yearQuarter'] = dfall_combined['year'].astype(str)+dfall_combined['quarter'].astype(str)
    
    return dfall_combined
    
def GetBCTC(ticker):
    dfquy = getBCTC_quy(ticker)
    dfnam = getBCTC_nam(ticker)
    merged_df = pd.concat([dfquy, dfnam], ignore_index=True)
    unique_df = merged_df.drop_duplicates()
    unique_df = unique_df[unique_df['year'] >= 2013]
    return unique_df
    
def listticker():
    url = 'https://finfo-api.vndirect.com.vn/v4/stocks?q=type:stock~status:~floor:HOSE,HNX,UPCOM&size=9999'
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    data = requests.get(url, headers=headers).json()
    df = json_normalize(data['data'])
    #df=df.rename(columns={"industryCode": "indexCode"})
    df_sorted = df.sort_values(by='code', ascending=True)
    return df_sorted['code']

In [15]:
def ExtractTransformBCTC():
    lticker = listticker()
    log=''
    dem=0
    df_list = []
    for i in lticker.iloc[209:210]:
        try:
            dfBCTC =GetBCTC(i)

            log=log + f'Get {i} {len(dfBCTC)} rows\n'

            df_list.append(dfBCTC)
            print(f'Get {i} {len(dfBCTC)} rows\n')
        except Exception as e:
            log = log + f'{dem} {i} error {e}\n'
        dem=dem+1
        time.sleep(3)
        
    combined_df = pd.concat(df_list, ignore_index=True)


    return combined_df

In [16]:
df = ExtractTransformBCTC()

Get CAP 10176 rows

In [12]:
df

,id,name,parentID,expanded,level,field,period,year,quarter,value,type,code,idBCTC,yearQuarter
0,1,TÀI SẢN,-1,True,1,None,Q1 2013,2013,1,NaN,CDKT,CAP,CAPCDKT201311,20131
1,101,A. Tài sản lưu động và đầu tư ngắn hạn,1,True,2,None,Q1 2013,2013,1,5.311063e+10,CDKT,CAP,CAPCDKT20131101,20131
2,10101,I. Tiền và các khoản tương đương tiền,101,False,3,None,Q1 2013,2013,1,1.556030e+10,CDKT,CAP,CAPCDKT2013110101,20131
3,1010101,1. Tiền,10101,False,4,None,Q1 2013,2013,1,3.760301e+09,CDKT,CAP,CAPCDKT201311010101,20131
4,1010102,2. Các khoản tương đương tiền,10101,False,4,None,Q1 2013,2013,1,1.180000e+10,CDKT,CAP,CAPCDKT201311010102,20131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10171,311,Lưu chuyển tiền thuần từ hoạt động tài chính,3,True,2,None,2022,2022,0,-2.618012e+10,LCGT,CAP,CAPLCGT20220311,20220
10172,4,Lưu chuyển tiền thuần trong kỳ,-1,True,1,None,2022,2022,0,7.421999e+10,LCGT,CAP,CAPLCGT202204,20220
10173,5,Tiền và tương đương tiền đầu kỳ,-1,True,1,None,2022,2022,0,7.894343e+10,LCGT,CAP,CAPLCGT202205,20220
10174,6,Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi...,-1,True,1,None,2022,2022,0,3.993174e+08,LCGT,CAP,CAPLCGT202206,20220
10175,7,Tiền và tương đương tiền cuối kỳ,-1,True,1,None,2022,2022,0,1.535627e+11,LCGT,CAP,CAPLCGT202207,20220

In [19]:
json_filename = 'D:/DataEngineer/airflow/airflow/example/extracted_data.json'
df.to_json(json_filename, orient='records', lines=True)

In [21]:
df1 = pd.read_json(json_filename, lines=True)
df1

,id,name,parentID,expanded,level,field,period,year,quarter,value,type,code,idBCTC,yearQuarter
0,1,TÀI SẢN,-1,True,1,NaN,Q1 2013,2013,1,NaN,CDKT,CAP,CAPCDKT201311,20131
1,101,A. Tài sản lưu động và đầu tư ngắn hạn,1,True,2,NaN,Q1 2013,2013,1,5.311063e+10,CDKT,CAP,CAPCDKT20131101,20131
2,10101,I. Tiền và các khoản tương đương tiền,101,False,3,NaN,Q1 2013,2013,1,1.556030e+10,CDKT,CAP,CAPCDKT2013110101,20131
3,1010101,1. Tiền,10101,False,4,NaN,Q1 2013,2013,1,3.760301e+09,CDKT,CAP,CAPCDKT201311010101,20131
4,1010102,2. Các khoản tương đương tiền,10101,False,4,NaN,Q1 2013,2013,1,1.180000e+10,CDKT,CAP,CAPCDKT201311010102,20131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10171,311,Lưu chuyển tiền thuần từ hoạt động tài chính,3,True,2,NaN,2022,2022,0,-2.618012e+10,LCGT,CAP,CAPLCGT20220311,20220
10172,4,Lưu chuyển tiền thuần trong kỳ,-1,True,1,NaN,2022,2022,0,7.421999e+10,LCGT,CAP,CAPLCGT202204,20220
10173,5,Tiền và tương đương tiền đầu kỳ,-1,True,1,NaN,2022,2022,0,7.894343e+10,LCGT,CAP,CAPLCGT202205,20220
10174,6,Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi...,-1,True,1,NaN,2022,2022,0,3.993174e+08,LCGT,CAP,CAPLCGT202206,20220
10175,7,Tiền và tương đương tiền cuối kỳ,-1,True,1,NaN,2022,2022,0,1.535627e+11,LCGT,CAP,CAPLCGT202207,20220